body
{
  color: white;
  background: #04a8d1;
}
span
{
  font-size: 40px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.heading{
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
  }